#currentTime{
height: 25%;
width: 100%;
background-color: black;
color: white;
margin : auto;
font-size: 30px;
font-size: 10vw;
font-family: arial;
text-align: center;
font-weight: bold;
}

#currentDate{
height: 10%;
width: 100%;
background-color: black;
margin : auto;
text-align: center;
font-size: 30px;
font-size: 2.5vw;
color: white;
font-family: times;
}

#set_bar_alarm, #set_bar_remainder{
height: 15%;
width: 100%;
display:none;
background-color: green;
}
#fwd1, #fwd2{
	height: 100%;
	width: 10%;	
	float: left;
	background-color: black;
	position: relative;
	margin: 0 auto; 
}
#back1, #back2{
	height: 100%;
	width: 10%;	
	float: left;
	background-color: black;
	position: relative;
	margin: 0 auto;
}
#setAlarm, #setRemainder{
height: 100%;
width: 80%;
text-align: center;
color: white;
font-family: arial;
background-color: black;
position: relative;
margin: 0 auto; 
float: left;
}
#set1{
	background-color: black;
	height: 80%;
	width: 60%;
	position: relative;
	margin: 10px auto;
}
#set2{
	background-color: black;
	height: 90%;
	width: 60%;
	position: relative;
	margin: 7px auto;
}
#SSR1, #SSR2, #SSR3{
	height: 85%;
	width: 25%;
	background-color: black;
	position: relative;
	margin: 0 auto;
	float: left;
	padding-left: 37px;
	padding-top: 10px
} 

#show_set{
	width: 100%;
	height: 15%;
	background-color: black; 
}

#child1, #child2, #child3{
	width: 33.1%;
	height: 100%; 
	margin: 0 auto; 
	position: relative; 
	background:black;
	float: left;

}
#child1_s, #child2_s, #child3_s{
	width: 33.333%;
	height: 100%; 
	margin: 0 auto; 
	position: relative; 
	background:green;
	float: left;
}
#inner_image{
width: 40px; 
height: 40px;
overflow: auto;
margin: auto;
position: absolute;
top: 0; left: 0; bottom: 0; right: 0;
}

#status_bar{
height: 50%;
width: 100%;
text-align: center;
background-color: black;
}

#upcomingAlarm, #upcoming_remainders, #countdown{
height: 100%;
width: 33.1%;
text-align: center;
background-color: black;
margin: 0 auto; 
position: relative; 
float: left;

}

#digits{
height: 25%;
width: 100%;
background-color: black;
color: white;
margin : auto;
font-size: 9px;
font-size: 5vw;
font-family: arial;
text-align: center;
padding-top: 20%;
}

#showAlarm1,#showAlarm2,#showAlarm3,#showAlarm4,#showAlarm5{
	color: white;
	float: none;
	width: 100%;
	height: 19.7%;
	background-color: black;
}


#dlt_btn_1, #dlt_btn_2, #dlt_btn_3, #dlt_btn_4, #dlt_btn_5 {
	float: right;
	height: 20px;
	width: 20px;
}

#showAlarm1_l, #showAlarm2_l, #showAlarm3_l, #showAlarm4_l, #showAlarm5_l{
	color: white;
	float: left;
	width: 50%;
	height: 100%;
	background-color: black;
	font-size: 13px;
	font-size: 3vw;
	font-family: arial;
	text-align: center;
	font-weight: bold;
}

#showAlarm1_r, #showAlarm2_r, #showAlarm3_r, #showAlarm4_r, #showAlarm5_r{
	color: white;
	float: right;
	width: 50%;
	height: 60%;
	background-color: black;
	font-size: 13px;
	font-size: 1.5vw;
	font-family: arial;
	text-align: left;
}

#showRemainder1,#showRemainder2,#showRemainder3,#showRemainder4,#showRemainder5{
	color: white;
	float: none;
	width: 100%;
	height: 19.7%;
	background-color: black;
	margin: 1px 1px;
}

#showRemainder1_t, #showRemainder2_t, #showRemainder3_t, #showRemainder4_t, #showRemainder5_t{
	color: white;
	float: left;
	width: 100%;
	height: 50%;
	background-color: black;
	font-size: 13px;
	font-size: 1.5vw;
	font-family: arial;
	padding-left: 15px;
	font-weight: bold;
}

#showRemainder1_b, #showRemainder2_b, #showRemainder3_b, #showRemainder4_b, #showRemainder5_b{
	color: white;
	float: right;
	width: 97%;
	height: 50%;
	background-color: black;
	font-size: 13px;
	font-size: 1vw;
	font-family: arial;
	text-align: left;
}
#dlt_btn_6, #dlt_btn_7, #dlt_btn_8, #dlt_btn_9, #dlt_btn_10 {
	float: right;
	height: 20px;
	width: 20px;
	padding-right: 20px;
}
#remainder_time1, #remainder_time2, #remainder_time3, #remainder_time4, #remainder_time5 {
	height: 100%;
	width: 80%;
	float: left;
	background-color: black;
	color:white;
	text-align: left;
}
