#currentTime{
height: 25%;
width: 100%;
background-color: black;
color: white;
margin : auto;
font-size: 30px;
font-size: 10vw;
font-family: arial;
text-align: center;
font-weight: bold;
}

#currentDate{
height: 10%;
width: 100%;
background-color: black;
margin : auto;
text-align: center;
font-size: 30px;
font-size: 2.5vw;
color: white;
font-family: times;
}

#setAlarm{
height: 20%;
width: 100%;
text-align: center;
color: white;
font-family: arial;
background-color: black;
}

#show_setAlarm{
height: 20%;
position: relative;
background-color: black;
}

#inner_image{
width: 40px; 
height: 40px;
overflow: auto;
margin: auto;
position: absolute;
top: 0; left: 0; bottom: 0; right: 0;
}

#upcomingAlarm{
height: 45%;
width: 100%;
text-align: center;
background-color: yellow;
}

#showAlarm1,#showAlarm2,#showAlarm3,#showAlarm4,#showAlarm5{
	color: white;
	float: none;
	width: 33%;
	height: 20%;
	background-color: black;
}
#dlt_btn_1, #dlt_btn_2, #dlt_btn_3, #dlt_btn_4, #dlt_btn_5 {
	float: right;
	height: 20px;
	width: 20px;
}

#showAlarm1_l, #showAlarm2_l, #showAlarm3_l, #showAlarm4_l, #showAlarm5_l{
	color: white;
	float: left;
	width: 50%;
	height: 100%;
	background-color: black;
	font-size: 13px;
	font-size: 3vw;
	font-family: arial;
	text-align: center;
	font-weight: bold;
}
#showAlarm1_r, #showAlarm2_r, #showAlarm3_r, #showAlarm4_r, #showAlarm5_r{
	color: white;
	float: right;
	width: 50%;
	height: 60%;
	background-color: black;
	font-size: 13px;
	font-size: 1.5vw;
	font-family: arial;
	text-align: left;
}
