#currentTime{
height: 25%;
width: 100%;
background-color: black;
color: white;
margin : auto;
font-size: 30px;
font-size: 10vw;
font-family: arial;
text-align: center;
}

#currentDate{
height: 10%;
width: 100%;
background-color: black;
margin : auto;
text-align: center;
font-size: 30px;
font-size: 2.5vw;
color: white;
font-family: times;
}

#setAlarm{
height: 20%;
width: 100%;
text-align: center;
color: white;
font-family: arial;
background-color: black;
padding-top: 15px;
}

#show_setAlarm{
height: 15%;
position: relative;
background-color: black;
}

#inner_image{
width: 50px; 
height: 50px;
overflow: auto;
margin: auto;
position: absolute;
top: 0; left: 0; bottom: 0; right: 0;
}

#upcomingAlarm{
height: 20%;
width: 100%;
text-align: center;
background-color: yellow;
}

